.sidebar {
  width: 18%;
  height: 50rem;
  padding-left: 3rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.App-logo {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  float: left;
  margin-bottom: 1rem;
}
