.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.main-layout {
  height: 50rem;
  width: 50%;
  background-color: blue;
}
.suggestion {
  height: 50rem;
  width: 25%;
  background-color: red;
}
